## Generic files to ignore
*.DS_Store
*.out
*~
*.lock
*.swp

## Java files to ignore
*.class

## Python files to ignore
*.pyc

## Eclipse files to ignore
*.project
*.pydevproject

## Ignore 'playground' used for testing
/src/main/python/maverick/test/playground.py
